.btn {
	border: none;
	@include button;
}

.btn--light-green {
	@include btn-light-green($opacity: 0.4);

	&:hover {
		background: $hover-light-green;
	}
}

.btn--warning {
	background-color: rgb(255, 166, 0);
	box-shadow: 4px 4px 5px rgba(255, 166, 0, 0.4);

	&:hover {
		background: rgba(255, 166, 0, 0.4);
	}
}

.btn--dim-orange {
	@include btn-dim-orange;

	&[class*="--empty"] {
		background: none;
		box-shadow: none;
		color: $dim-orange;

		&:hover {
			text-decoration: underline;
			background: none;
		}
	}

	&:hover {
		background: $hover-light-green;
	}
}

.btn--small {
	@include button(0.5rem);
	width: fit-content;
}

.btn--dark-green {
	@include btn-dark-green($opacity: 0.4);

	&:hover {
		background: $hover-dark-green;
	}
}

*[class*="btn-group"] {
	gap: 1rem;

	&[class*="btn-group--3"] {
		gap: 3rem;
	}
}
